.componentContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.pageTitle {
	font-size: x-large;
	color: white;
}
.uploadInput {
	padding: 10px;
	background-color: #1da1f2;
	box-shadow: black 0px 1px 5px;
	border-radius: 10px;
}
.uploadInput:default {
	color: white;
}
.filesContainer {
	display: flex;
	flex-direction: column;
}
.fileNamesContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 5px;
}
.filesTitle {
	font-size: x-large;
	color: white;
	margin-top: 50px;
}
.fileNames {
	color: white;
	padding: 3px;
	margin-right: 5px;
}
.downloadIcon {
	padding: 3px;
}
.downloadIcon:hover {
	cursor: pointer;
	box-shadow: #11f2d0 0px 1px 7px;
	background-color: #11f2d0;
	border-radius: 5px;
}
.confirmButtonGroup {
}
.confirmButton {
	margin: 5px;
	margin-top: 30px;
	padding: 10px;
	background-color: #1da1f2;
	box-shadow: black 0px 1px 5px;
	border-radius: 10px;
	border: none;
}
.confirmButton:hover {
	cursor: pointer;
	background-color: #11f2d0;
}
.cancelButton {
	margin: 5px;
	margin-top: 30px;
	padding: 10px;
	background-color: #b63536;
	box-shadow: black 0px 1px 5px;
	border-radius: 10px;
	border: none;
}
.cancelButton:hover {
	cursor: pointer;
	background-color: #f23536;
}
